.show-hover-element {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: auto;
    box-sizing: border-box;

    font-size: .8em;

    border: 1px solid #020202;

    justify-content: space-between;
}
.h-symbol {
    font-weight: bold;

    width: 40%;
    height: auto;
    max-width: 130px;
    max-height: 130px;
    margin-right: 13px;

    font-size: 3em;
    padding: 12px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h-symbol span {
    font-size: .4em;
}
.h-symbol span:first-child {
    align-self: flex-start;
}
.h-symbol span:last-child {
    align-self: flex-end;
}
.properties {
    overflow-x: none;
    overflow-y: auto;
flex-grow: 1;
    text-align: left;
}
.prop-title {
    display: inline-block;
    width: 60%;
}
.prop-value {
    display: inline-block;
    width: 35%;
    text-align: right;
    vertical-align: top;
}
