.table-wrap {
    max-width: 100%;
    max-height: 100%;
    margin-top: 15px;
    overflow: scroll;
}
.table {
    display: inline-block;

    font-size: .8em;

    background: rgba(255, 255, 255, .5);
}
.table th {
    position: -webkit-sticky;
    position:         sticky;
    top: 0;
    z-index: 5;

    background: #e0e0e0;
}
.night .table th {
    color: rgba(255, 255, 255, .8);
    background: rgba(40, 41, 35, .8);
}
.table th:first-child {
    left: 0;
    z-index: 6;
}
.table tr:nth-child(2n+1) {
    background: #f0f0f0;
}
.night .table tr:nth-child(2n) {
    color: rgba(255, 255, 255, .8);
}
.night .table tr:nth-child(2n+1) {
    background: #c0c0c0;
}
.table td,
.table th {
    padding: 5px 11px;

    text-align: center;
    vertical-align: middle;
}
.table td:first-child {
    position: -webkit-sticky;
    position:         sticky;
    left: 0;

    font-weight: bold;

    background: #e0e0e0;
}
.night .table td:first-child {
    color: rgba(255, 255, 255, .8);
    background: rgba(40, 41, 35, .8);
}
