.header {
	padding: 0 25px;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.auth-ctrl .link {
	font-family: sans-serif;
	border: none;
	background: transparent;
	outline: none;
	padding: 0;
	display: inline;
	color: #cccccc;
	font-size: 0.8rem;
	width: auto;
	height: auto;
	padding: 5px 8px;
	margin-top: 4px;
	transition: 0.3s;
	cursor: pointer;
}
.auth-ctrl .link:hover {
	color: #020202;
}
.header-bottom {
	text-align: center;
}
.logo {
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 1.5rem;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	color: #E0E0E0;
}