.keyboard {
	width: 100%;
	box-sizing: border-box;
	padding: 0 12px 20px 12px;
	position: fixed;
	left: 50%;
	bottom: -100%;
	opacity: 0;
	transform: translateX(-50%);
	z-index: 10;
	background: #fff;
	box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.4);
	max-width: 760px;
	overflow: auto;
	transition: 500ms;
}
.keyboard.active {
	bottom: 0%;
	opacity: 1;
}
